* {
        font-family: 'Courier New', Verdana, monospace;
}

body {
        background-color: rgb(239, 221, 161);
        text-align: center;
}

.card-layout {
        width: 1200px;
        height:fit-content;
        margin-bottom: 100px;
}

.page-title {
        font-size: 68px;
        font-weight: 800;
}
.page-title, .subtitle {
        color: rgb(115, 33, 33);
}

.subtitle {
        font-size: 36px;
        font-weight:600;
}

.title-picture, .card-layout {
        margin-left: auto;
        margin-right: auto;
}

.title-picture {
        width: auto;
        height: auto;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
}

.link-list {
        margin-top: 50px;
}

.recipe-list {
        list-style-type: none;
        font-size: 36px;
        font-weight: 600;
}

a {
        text-decoration: none;
        color:rgb(100, 47, 29)
}

a:hover {
        color:rgb(52, 7, 71);
}

.description, .ingredients, .steps {
        font-size: 22px;
        font-weight: 500;
        text-align: justify;
        margin: 20px;
}

.ingredients {
        list-style-type:circle;
        margin-left: 200px;
        margin-right: 200px;
}

