html {
        font-family: 'Courier New', Verdana, monospace;
        box-sizing: border-box;
}

/*
* {
        outline: 2px dotted green;
}
*/

body {
        background-color: #efdda1;
        text-align: center;
}

.card-layout {
        width: 800px;
        height:fit-content;
        margin: 40px auto;
        border: 20px solid #556b2f;
}

.page-title {
        font-size: 68px;
        font-weight: 800;
        padding: 20px;
        margin: 20px;
}

.page-title, .subtitle {
        color: rgb(115, 33, 33);
}

.subtitle {
        font-size: 36px;
        font-weight:600;
        margin: 10px;
}

.title-picture, .card-layout {
        margin: 20px auto;
}

.title-picture {
        width: auto;
        height: auto;
        display: block;
        padding: 10px;
}

.featured {
        width: 500px;
        height: auto;
}

.link-list {
        margin: 20px 20px;
        border-left: 5px solid #556b2f;
        border-right: 5px solid #556b2f;
}

.page-link {
       padding: 10px;
}

.soup {
        border-top: 5px solid #556b2f;
}

.mushroom {
        border-top: 5px solid #556b2f;
        border-bottom: 5px solid #556b2f;
}

.shakshuka{
        border-bottom: 5px solid #556b2f;
}


.recipe-list {
        list-style-type: none;
        font-size: 36px;
        font-weight: 600;
        padding: 0 0;
}

a {
        text-decoration: none;
        color:rgb(100, 47, 29)
}

a:hover {
        color:rgb(52, 7, 71);
}

.subsection, .subtitle {
        padding: 10px;
}

.description, .ingredients, .steps {
        font-size: 22px;
        font-weight: 500;
        text-align: justify;
        margin: 10px;
}

.description {
        padding: 10px 40px;
}

.ingredients {
        list-style-type:circle;
        margin: 10px 120px;  
        text-align: left;
}

.steps {
        padding: 10px 80px;
}

